{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Login||3D ART</title>
    <link href="{% static 'users/style.css' %}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</head>


<body>


    <div class="sidenav">
        <div class="login-main-text">
            <h2>Hobbis and Arts
                <br> Add Anything You Like</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>
    <div class="main">
        {%if messages%} {% for message in messages%}
        <div class="alert alert-{{message.tags}} ">{{message}}</div>
        {%endfor%}{%endif%} {% block body %} {% endblock %}
        <div class="col-md-5 col-sm-12">
            <div class="login-form">
                <form method="POST">
                    {% csrf_token %}
                    <table>{{form.as_table}} </table>
                    <div style="align-items: Right;">

                        <a href="{%url 'password_reset'%}">Forgot Your Password?</a><br>
                        <button type="submit" class="btn btn-black" style="margin-top: 10px;">Login</button>
                        <a type="button" class="btn btn-secondary" style="margin-top: 10px;" href="{%url 'register'%}">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>