{%extends 'myAnimations/base.html' %}{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-row ">
                <div class="p-2 ">
                    <h5 style=" margin-bottom: 0;   text-decoration-line: underline;
                    text-decoration-style: solid;">Update Your Profile</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-row-reverse ">
                <div class="p-2 ">
                    <a href="{%url 'selfindex'%}" type="button" class="btn btn-primary btn-sm">Back</a>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <table>{{form.as_table}}</table>
        <button class="btn btn-outline-primary btn-sm " type="submit" style="margin-top:20px;">Update</button>
    </form>
</div> {% endblock %}